<div class="spacer">
</div>


<div class="ui ordered fluid steps">
<div class="completed step">
    <div class="content">
      <div class="title">Votre bien</div>
    </div>
</div>

<div class="active step">
    <div class="content">
      <div class="title">Informations sur votre bien </div>
    </div>
</div>

<div class="step">
    <div class="content">
      <div class="title"> Vos justificatifs </div>
    </div>
</div>

<div class="step">
    <div class="content">
      <div class="title"> Validation </div>
    </div>
</div>

</div>


