<div class="spacer">
</div>


<div class="monHeader">

<h2 class="ui medium icon header">

  <i class="teal dashboard icon"></i>
  
   Mon tableau de bord  

</h2>

 <h4 class="ui divider">

 </h4>

 </div>

  <div class="ui four doubling stackable cards container">

    <div class="card" >

        <div class="content"> 

          <div class="left floated header">
            Mon patrimoine 
          </div>

            <div class="right floated description">
            
              <div class="ui tiny teal statistics">

                <div class="statistic">

                   <div class="value">
                      
                         {{monPatrimoine}}
                 
                       <i class="circular teal inverted euro icon"></i> 

                      </div>
                    
                 </div>

              </div>


     
           </div>


          
        </div>


    </div>

    <div class="card">

      <div class="content">

          <div class="left floated header">
            Mes contrats en cours  
          </div>

          
        </div>


    </div>

     <div class="card">

       <div class="content">


          <div class="left floated header">
            Mes prochains prélèvements
          </div>

        </div>

    </div>

     <div class="card">

       <div class="content">

          <div class="left floated header">
            Evolution de mon patrimoine   
          </div>

          
        </div>

    </div>

     <div class="card">

       <div class="content">

          <div class="left floated header">
            Analyse de mon patrimoine   
          </div>

          
        </div>

    </div>

     <div class="card">

       <div class="content">

         <div class="left floated header">
          
          Documents / contrats 

          </div>
          
        </div>

    </div>

     <div class="card">

       <div class="content">

         <div class="left floated header">
          
              Mes ajouts récents  

          </div>

          
        </div>

    </div>

     <div class="card">
        
        <div class="content">

          
        </div>

    </div>






  </div>
